<div class="container">
    <div class="row">
        <mz-card class="col s12 m12 l6">
            <mz-card-title>
                <h3>Menu Diario</h3>
            </mz-card-title>
            <mz-card-content>
                I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup
                to use effectively.
            </mz-card-content>
        </mz-card>
        <mz-card class="col s12 m12 l6">
            <mz-card-title>
                <h3>fin de semana</h3>
            </mz-card-title>
            <mz-card-content>
                I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup
                to use effectively.
            </mz-card-content>
        </mz-card>
    </div>
</div>