<div class="bgImg"></div>

<div class="row ">
    <mz-card *ngFor="let menu of menus" class="col s12 m12 l6" [backgroundClass]="'txt-color2 bg-color1 z-depth-4 myFlex'">
        <mz-card-title>
            <h1 class="titleMenu">{{menu.title}}</h1>
        </mz-card-title>
        <mz-card-content style="text-align:center;">
            <h4>{{menu.header1}}</h4><br>
            <h5  *ngFor="let primero of menu.primeros">{{primero}}<br></h5><br>
            <div class="divider"></div>
            <br>
            <h4>{{menu.header2}}</h4>
            <br>
            <h5 *ngFor="let segundo of menu.segundos">{{segundo}}<br></h5>
            <br>
            <div class="divider"></div>
            <br>
            <h6>*{{menu.included}}</h6>
            
        </mz-card-content>
    </mz-card>
</div>