@import "../colors";
@import "../_variables";

header {
  #{'/deep/'} {
    .side-nav {
      padding-bottom: 0;
      height: 100%;
    }

    .sidenav-background,
    .sidenav-button {
      background: $color2 !important;
    }

    .sidenav-button {
      position: fixed;
      top: 16px;
      left: 16px;
      z-index: 24;
    }
  }

  .sidenav-header {
    //background: rgba(0,0,0,0.14);
    display: block;

    a {
      height: auto;
      padding: 0;
    }
  }

  .laGola-logo {
    display: block;
    margin: 0 auto;
    width: 100%;
  }

}

main {
  margin-bottom: 2rem;
  margin-top: 2rem;

  @media #{$large-and-up} {
    padding-left: 300px;
  }

  .container {
    width: 90% !important;

    @media #{$large-and-up} {
      margin: 0 3%;
    }
  }
}
