@import "../colors";
@import "../_variables";

header {
  #{'/deep/'} {
    .side-nav {
      padding-bottom: 0;
      height: 100%;
    }

    .sidenav-background,
    .sidenav-button {
      background: $color2 !important;
    }

    .sidenav-button {
      position: fixed;
      top: 16px;
      left: 16px;
      z-index: 24;
    }
  }

  .sidenav-header {
    //background: rgba(0,0,0,0.14);
    display: block;

   
  }

   a {
      font-family: Ailerons;
      text-align: center;
      font-size: 30px;
      color: $color1;
      height: auto;
      padding: 0;
    }

  .laGola-logo {
    display: block;
    margin: 0 auto;
    width: 100%;
  }

}

main {


  @media #{$large-and-up} {
    padding-left: 300px;
  }

}

.button-share{
      //color: $color1;
     -moz-border-radius: 50%!important;
     -webkit-border-radius: 50%!important;
     border-radius: 50%!important;
     background-color: $color2;
}