<header>
  <mz-sidenav #sidenav [id]="'sidenav'" [collapseButtonId]="'btn-sidenav'" [fixed]="'true'" [backgroundClass]="'sidenav-background'">

    <mz-sidenav-header class="sidenav-header z-depth-1">
      <a [routerLink]="'home'">
        <img class="laGola-logo" src="assets/LaGola_Red1.jpg">
      </a>
    </mz-sidenav-header>

    <mz-sidenav-link>
      <a [routerLink]="'home'" class="waves-effect">Inicio</a>
    </mz-sidenav-link>
    <mz-sidenav-link>
      <a [routerLink]="'home'" class="waves-effect">Contacto</a>
    </mz-sidenav-link>
  </mz-sidenav>

  <button mz-button class="sidenav-button hide-on-large-only" id="btn-sidenav" [float]="true" [large]="true">
    <i mz-icon-mdi [icon]="'menu'"></i>
  </button>
</header>

<main>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</main>

<footer>
</footer>