<mz-parallax class="header-background" [height]="261">
  <img src="assets/prallax1.png">
</mz-parallax>
<h1 class="title"> LA GOLA </h1>
<h2 class="subtitle">(COMER Y BEBER)</h2>
<h1 style="text-align: center"> LA GOLA </h1>
<h1 style="text-align: center"> LA GOLA </h1>
<h1 style="text-align: center"> LA GOLA </h1>
<h1 style="text-align: center"> LA GOLA </h1>
<h1 style="text-align: center"> LA GOLA </h1>
<h1 style="text-align: center"> LA GOLA </h1>
<h1 style="text-align: center"> LA GOLA </h1>
<h1 style="text-align: center"> LA GOLA </h1>
<h1 style="text-align: center"> LA GOLA </h1>
<h1 style="text-align: center"> LA GOLA </h1>
<h1 style="text-align: center"> LA GOLA </h1>
<h1 style="text-align: center"> LA GOLA </h1>
<h1 style="text-align: center"> LA GOLA </h1>
<h1 style="text-align: center"> LA GOLA </h1>
<h1 style="text-align: center"> LA GOLA </h1>
<h1 style="text-align: center"> LA GOLA </h1>
<h1 style="text-align: center"> LA GOLA </h1>
<h1 style="text-align: center"> LA GOLA </h1>
<h1 style="text-align: center"> LA GOLA </h1>
<h1 style="text-align: center"> LA GOLA </h1>
<h1 style="text-align: center"> LA GOLA </h1>
<h1 style="text-align: center"> LA GOLA </h1>
<h1 style="text-align: center"> LA GOLA </h1>
<h1 style="text-align: center"> LA GOLA </h1>
<h1 style="text-align: center"> LA GOLA </h1>
<h1 style="text-align: center"> LA GOLA </h1>