<mz-parallax class="header-background" [height]="261">
  <img src="assets/prallax1.png">
</mz-parallax>
<div class="header-text">
  <h1 class="title"><span>LA GOLA</span></h1>
  <h2 class="subtitle"><span>(COMER y BEBER)</span></h2>
</div>

<h1 style="text-align: center"> LA GOLA </h1>
<h1 style="text-align: center"> LA GOLA </h1>
<h1 style="text-align: center"> LA GOLA </h1>
<h1 style="text-align: center"> LA GOLA </h1>
<h1 style="text-align: center"> LA GOLA </h1>
<h1 style="text-align: center"> LA GOLA </h1>
<h1 style="text-align: center"> LA GOLA </h1>
<h1 style="text-align: center"> LA GOLA </h1>
<h1 style="text-align: center"> LA GOLA </h1>
<h1 style="text-align: center"> LA GOLA </h1>
<h1 style="text-align: center"> LA GOLA </h1>
<h1 style="text-align: center"> LA GOLA </h1>
<h1 style="text-align: center"> LA GOLA </h1>
<h1 style="text-align: center"> LA GOLA </h1>
<h1 style="text-align: center"> LA GOLA </h1>
<h1 style="text-align: center"> LA GOLA </h1>
<h1 style="text-align: center"> LA GOLA </h1>
<h1 style="text-align: center"> LA GOLA </h1>
<h1 style="text-align: center"> LA GOLA </h1>
<h1 style="text-align: center"> LA GOLA </h1>
<h1 style="text-align: center"> LA GOLA </h1>
<h1 style="text-align: center"> LA GOLA </h1>
<h1 style="text-align: center"> LA GOLA </h1>
<h1 style="text-align: center"> LA GOLA </h1>
<h1 style="text-align: center"> LA GOLA </h1>
<h1 style="text-align: center"> LA GOLA </h1>