<div class="container">
  <mz-parallax class="header-background" [height]="261">
    <img src="assets/prallax1.png">
  </mz-parallax>
  <div class="header-text">
    <h1 class="title"><span>LA GOLA</span></h1>
    <h2 class="subtitle"><span>(COMER y BEBER)</span></h2>
  </div>

  <mz-card [backgroundClass]="'txt-color1 bg-color2 introCard z-depth-5'">
    <mz-card-title>
      <h2>Bienvenidos</h2>
    </mz-card-title>
    <mz-card-content>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio magni fugiat molestiae illum adipisci hic mollitia provident
        eveniet minima ut architecto ad, deserunt quisquam ab voluptas repudiandae perspiciatis modi animi! Lorem ipsum dolor
        sit amet, consectetur adipisicing elit. Voluptates, consequuntur sequi neque dicta cum deleniti laborum error sit
        consequatur cupiditate eum qui, accusantium facilis! Quam dignissimos recusandae quos, hic rerum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio magni fugiat molestiae illum adipisci hic mollitia provident
        eveniet minima ut architecto ad, deserunt quisquam ab voluptas repudiandae perspiciatis modi animi! Lorem ipsum dolor
        sit amet, consectetur adipisicing elit. Voluptates, consequuntur sequi neque dicta cum deleniti laborum error sit
        consequatur cupiditate eum qui, accusantium facilis! Quam dignissimos recusandae quos, hic rerum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio magni fugiat molestiae illum adipisci hic mollitia provident
        eveniet minima ut architecto ad, deserunt quisquam ab voluptas repudiandae perspiciatis modi animi! Lorem ipsum dolor
        sit amet, consectetur adipisicing elit. Voluptates, consequuntur sequi neque dicta cum deleniti laborum error sit
        consequatur cupiditate eum qui, accusantium facilis! Quam dignissimos recusandae quos, hic rerum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio magni fugiat molestiae illum adipisci hic mollitia provident
        eveniet minima ut architecto ad, deserunt quisquam ab voluptas repudiandae perspiciatis modi animi! Lorem ipsum dolor
        sit amet, consectetur adipisicing elit. Voluptates, consequuntur sequi neque dicta cum deleniti laborum error sit
        consequatur cupiditate eum qui, accusantium facilis! Quam dignissimos recusandae quos, hic rerum.</p>

    </mz-card-content>
  </mz-card>



</div>